<div class="container">

<div class="row">
    <div class="col-25">
    <label for="codehead"> Country Code</label>
    </div>
    <div class="col-75">
   <label for="code">{{ countrydetail.code }}</label>
  </div>
</div>
 <div class="row">
        <div class="col-25">
        <label for="cname"> Country Name</label>
        </div>
        <div class="col-75">
          <input type="text" [(ngModel)]="countrydetail.name"/>
      </div>
   </div>
   <div class="row">
        <div class="col-25">
        <label for="cname"> Continent</label>
        </div>
        <div class="col-75">
          <label for="continent">{{ countrydetail.continent }}</label>
      </div>
   </div>
   <div class="row">
    <div class="col-25">
    </div>
    <div class="col-button">
     <div class="divbutton"><input type="button" value="Back" routerLink="/countrylist"/></div> 
     <div class="divbutton"> <input type="submit" (click)="saveCountry()" value="Save"/> </div>
  </div>
</div>
</div>